<div class="container my-2"  >
<form #formUsuario="ngform">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="email" class="form-control" name="nombre" [{ngModel}]="usuario.nombre" required/>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Edad</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>


</form>



</div>
